.bar-chart {
    background-color: #C7D9D9;
    align-items: center
    }
    
.bar {
     fill: #115D8C;
     
     }

    h1 {
    color: #999999;
    font-family: arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 60px
    }